html,
body,
p {
    margin: 0;
    padding: 0;
}

.clear:after{
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both; 
}

.clear{
    zoom: 1;
}

.main-all {
    width: 100%;
    background-color: #FCFCFC;
}

.main-all .main-all-school {
    background: #151B5F;
    height: 115px;
    margin-bottom: 20px;
}

.main-all-school .main-all-school-picture {
    float: left;
    margin-right: 240px;
}

.main-all .main-all-school .main-all-school-name {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    font-family: STKaiti;
    letter-spacing: 10px;
    line-height: 120px;
}